################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern/.vs/DesignPattern
/DesignPattern/BuilderDesignPattern/obj
/DesignPattern/BuilderPattern/bin/Debug/net7.0
/DesignPattern/BuilderPattern/obj
/DesignPattern/Common/bin/Debug/net7.0
/DesignPattern/Common/obj
/DesignPattern/.vs/ProjectEvaluation
/DesignPattern/BuilderDesignPattern/bin/Debug/net7.0
/DesignPattern/StrategyPattern/bin/Debug/net7.0
/DesignPattern/StrategyPattern/obj
/DesignPattern/ExcelFileService/bin/Debug/net7.0
/DesignPattern/ExcelFileService/obj
/DesignPattern/DesignPattern/bin/Debug/net7.0
/DesignPattern/DesignPattern/obj
/DesignPattern/DecoratorPattern/bin/Debug/net7.0
