<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mongodbconnection" value="mongodb://localhost:1111/DesignPatternProject" />
		<add key="mongodbInstanceName" value="DesignPatternProject" />
		<add key="sqlserverdbconnection" value="Server=SRIJON\SQLEXPRESS2022;Database=EFDbFirstApproch;User ID=srijon;Password=srijon123;" />
		<add key="sqlserverInstanceName" value="EFDbFirstApproch" />
	</appSettings>
</configuration>